<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="com.example.petclinic.model.Vet"*/-->
    <h1 th:text="'List of Vets'"> List of  Vets...</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 50px;">Id</th>
            <th style="width: 200px;">Last Name</th>
            <th style="width: 120px;">First Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">Anna</td>
            <td th:text="${vet.lastName}">Karenina</td>

        </tr>
        </tbody>

    </table>

</body>
</html>